/* UserList.css */

.user-list-container {
    margin: 20px;
}
.user-list-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}
.user-list-table {
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}
.user-list-table th,
.user-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
